<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Vinit" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQLExpress; user=BitCoin; password=XXXX; Initial Catalog=BITCOIN;Integrated Security=true;Connect Timeout=3000;"/>
  </connectionStrings>
  <appSettings>

    <add key="SegundosAtualizacaoResumo" value="10"/>

    <add key="BinanceClientKey" value="XXXX"/>
    <add key="BinanceSecretKey" value="XXXX"/>

    <add key="RsiLimiteSuperior" value="80"/>
    <add key="RsiLimiteInferior" value="25"/>

    <add key="teste" value="false"/>

    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="SmtpRemetente" value="XXXX@gmail.com"/>
    <add key="SmtpSenha" value="XXXX"/>
    <add key="SmtpPorta" value="587"/>
    <add key="SmtpAutenticado" value="true"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="10000000" shutdownTimeout="30000" executionTimeout="600"/>
  </system.web>
</configuration>